@{
    ViewData["Title"] = "";
}

<head>
    <style>
        body {
            background-color: black;
        }
    </style>
</head>

<font color=white>
    <h1> @ViewBag.Title</h1>
    <br><br>

</font>
<div class="container">



    <table class="table">

        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><DIV ALIGN=center><a><img src="@Url.Content("~/Images/logoMN_V.png")" width="350px" height="120px" alt="imgf" /></a></DIV></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>


    </table>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <table class="table">
        <tr>
            <td></td>
            <td>
                <p><DIV ALIGN=right><a href="Cliente/Create"> <input type="button" value="Registrarse" /></a></p>
            </td>
            <td></td>
            <td>
                <p><DIV ALIGN=left><a href="Cliente/Login">  <input type="button" value="  Acceder  " /> </a></p>
            <td>
            <td></td>
        </tr>
    </table>



    @*<form action="Cliente/Login" method="post">
            <div class="form-group">
                <label>Ingresas tu email</label>
                <input type="text" name="email" value="" />
            </div>

            <div class="form-group">
                <label>Ingresas tu contraseña</label>
                <input type="text" name="password" value="" />
            </div>


            <div class="form-group">
                <button> Acceder </button>
            </div>

        </form>*@
    @*//<p> Para acceder <a href="Cliente/Login"> <input type="button" value="Acceder" /> </a></p>*@

</div>



